/* 
COLORS 
Main Color : #00D9C7
*/


/* ------------------------------------------------------- */
/* BASIC FRAME & IMAGE SETTINGS */
/* ------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: rgb(50, 50, 50);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    margin-top: 0;
    height: 100%;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

/* --------------------------------------------------------------------------------  */
/* HEADER */
/* --------------------------------------------------------------------------------  */

header {
    background-image: linear-gradient(to bottom right, rgb(26, 40, 53, 0.75), rgb(29, 36, 41, 0.75)), 
    url(../img/header_background.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-size: 100%;
    background-position: center;
}

header h1 {
    color: #00D9C7;
    transition: color 0.4s;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 1.7em;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
}

.header__main-logo img {
    margin-top: 25px;
    float: right;
    width: 90px;
    height: auto;
}

.header__main-icons {
    position: absolute;
    right: 8%;
    bottom: 13%;
}

.header__main-icons li a {
    transition: color 0.4s;
}

.small-icon {
    display: inline-block;
    width: 30px;
    margin: 5px;
    font-size: 150%;
    color: #00D9C7;
    transition: color 0.3s;
}

.small-icon:hover {
    color: whitesmoke;
}

.small-icon:active {
    color: rgb(99, 97, 97);
}

.header__nav-content {
    display: inline-block;
}

.header__nav-content li {
    margin-top: 40px;
    margin-right: 20px;
    font-weight: 400;
    float: left;
    color: #00D9C7;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.header__nav-content li:hover {
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

.header__main-title {
    text-align: left;
    transform: translate(0, -50%);
    position: absolute;
    top: 70%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}

.header__main-title h1:hover {
    color: whitesmoke;
}

/* --------------------------------------------------------------------------------  */
/* SELF-INTRO */
/* --------------------------------------------------------------------------------  */

.my-intro {
    background-color: #019c8f; 
    height: 100vh;
}

.my-intro div {
    font-weight: 400;
}
